body
{
    /*background-image: url("achtergrond2.png");*/
    /*background-color: cornflowerblue;*/
    /*background-image: url("tema.jpg");*/
    background-color: lightgrey;
    font-family: sans-serif;

}

#container
{
    width: 100%;
    height: auto;

    margin: auto;
}

/*Header stuff*/
#header{
  height: 50px;
  width: 100%;
 background-color: black;
}

#header img.logoplaatje{
  height: 40px;
  margin-top: 5px;
  margin-left: 30px;

}

#header ul{
  color: white;
  list-style-type: none;
  float: right;
}

#header li{
  float: left;
  margin-right: 30px;

}

#header a{
  color: white;
  text-decoration: none;
}

.upArrow{
  height: 0;
  width: 0;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid rgb(24, 152, 218);
  right: 45px;
  display: none;
}

.loginForm{
  position: absolute;
  height: auto;
  width: 300px;
  background-color: rgb(24, 152, 218);
  top:72px;
  right: 8px;
  display: none;
  border-radius: 5px;
}

.loginForm>form{
  width: 250px;
  margin: 0 auto;
  color: White;
  margin-bottom: 5px;
  margin-top: 5px;
}

#header input[type="text"], #header input[type="password"]{
  width: 250px;
  height: 30px;
  border: 0px;
  outline: none;
  margin-bottom: 15px;
}

/*Content stuff*/
#content{
  height: auto;
  width: 100%;
}

#content img.logo{
  margin-top: 15px;
  width: 150px;
  margin-left: calc(50% - 75px);
}

#content img.icon{
  position: absolute;
  left: calc(20% - 64px);
  top: 150px;
}

#content p{
  display: block;
  position: absolute;
  top: 270px;
  left: calc(19% - 128px);
}
